*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "IBM Plex Sans Arabic", sans-serif;
    background-color: #ffffff;
    
    
}

h1,p,h5,h6,h3,h4 {
    margin: 0;
}
.clr-fix{
    clear: both;
}

.body-container {
    width: 95%;
    margin: auto;
}

nav {
    visibility: hidden;
}

.nav-icon {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-bottom: 20px;
}

.nav-img {
    background-color: #2B51F2;
    width: 56px;
    height: 56px;
    margin-right: 20px;
    margin-top: 30px;
    margin-left: 10px;
    margin-bottom: 30px;
    border-radius: 20px;
}

.nav-img img {
    width: 60%;
    margin: 10px;
}

.nav-content {
    margin-top: 20px;
    text-align: right;
    margin-left: 35px;
}

.nav-content h1 {
    font-weight: 700;
    font-size: 36px;
}

.nav-content p {
    font-weight: 600;
    font-size: 14px;
    color: oklch(0.373 0.034 259.733);
}

.nav-items {
    text-align: right;
    margin-bottom: 24px;
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    color: oklch(0.446 0.03 256.802);
    font-weight: 600;
    font-size: 16px;
}

.nav-items2 {
    font-weight: 500;
    font-size: 14px;
    color: rgb(17, 24, 39);
}

.nav-p {
    text-align: right;
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 14px;
}

.nav-items-img {
    width: 40px;
    height: 40px;
    border-radius: 15px;
    margin-left: 10px;
    position: relative;
}

.nav-items2-img {
    background-color: #F3F4F6;
    width: 45px;
    height: 45px;
    border-radius: 15px;
    /* margin-top: 30px; */
    margin-left: 10px;
    border: 1px solid rgb(204, 204, 204);
    position: relative;
}

.nav-items-img img {
    width: 53%;
    margin: 10px 11px;
}

.blue .nav-items {
    background-color: #EFF6FF;
    border-radius: 10px;
    color: #2B51F2;
    height: 50px;
    padding: 0;
}





header {
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 20px;
    background-color: #FCFCFE;
    border: 1px solid rgba(0, 128, 0, 0.234);
    box-shadow: 1px 1px #d1cfcf;
    /* position: absolute;
    top: 5px;
    right: 0px;
    left: 0px; */
}

.icon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-img {
    background-color: #2B51F2;
    width: 56px;
    height: 56px;
    margin-right: 30px;
    margin-top: 30px;
    margin-left: 15px;
    margin-bottom: 30px;
    border-radius: 20px;
}

.header-img img {
    width: 60%;
    margin: 10px;
}

.header-content {
    margin-top: 20px;
    text-align: right;
    margin-left: 35px;
    margin-bottom: 10px;
}

.header-content h1 {
    font-weight: 700;
    font-size: 36px;

}

.header-content p {
    font-weight: 600;
    font-size: 14px;
    color: oklch(0.446 0.03 256.802);

}

.icon button {
    background-color: #f3fcf6;
    border: 1px solid rgba(0, 128, 0, 0.234);
    border-radius: 7px;
    width: 90px;
    height: 30px;
    margin-top: 45px;
    margin-left: 90px;
    color: green;
    font-weight: 500;
    font-size: 14px;
}

.profile-img {
    background-color: #F3F4F6;
    width: 40px;
    height: 40px;
    border-radius: 15px;
    margin-top: 30px;
    margin-left: 10px;
    border: 1px solid rgb(204, 204, 204);
    position: relative;

}

.profile-img img {
    width: 50%;
    margin: 8px 9px;
}

.profile-card2 {
    display: flex;
    /* border: 1px solid black; */
    height: 70px;
    justify-content: space-between;
    align-items: center;


}

.profile-content {
    margin-top: 35px;
    margin-left: 10px;
    padding-right: 10px;
    text-align: right;
    border-radius: 20px;
    border: 1px solid rgba(0, 128, 0, 0.234);
    background-color: #ffffff;
}

.profile-content h1 {
    font-weight: 600;
    font-size: 16px;
}

.profile-content p {
    font-weight: 600;
    font-size: 12px;
    color:
        oklch(0.446 0.03 256.802);
}

.profile-pic-img {
    width: 50px;
    /* height: 50px; */
    border-radius: 20px;
    /* margin-bottom: 30px; */
    margin-left: 20px;
    margin-right: 10px;

}

.profile-pic-img img {
    width: 100%;
    border-radius: 20px;

}

.profile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.red {
    position: absolute;
    top: -5px;
    right: -4px;
    border-radius: 20px;
    width: 15px;
    height: 15px;
    background-color: red;
    font-size: 12px;
    color: #ffffff;
    text-align: center;
}




.container {
    /* padding: 0;
    margin: 0; */
    
}

.content {
    margin-bottom: 15px;
    text-align: right;
    border-radius: 20px;
    background-color: #FCFCFE;
    border: 1px solid rgba(0, 128, 0, 0.234);
    box-shadow: 1px 1px #d1cfcf;

}

.content-body {
     margin: 15px ;

    h1 {
        font-weight: 700;
        font-size: 36px;
        margin-bottom: 5px;
    }

    p {
        font-weight: 600;
        font-size: 14px;
        color: oklch(0.446 0.03 256.802);
    }

    span {
        font-weight: 600;
        font-size: 14px;
        color: oklch(0.627 0.194 149.214);
        display: flex;
        align-items: center;
        justify-content: end;
    }

    .red2 {
        color: red;
    }
}

.content-2 img {
    transform: rotate(180deg);
}

.content-3 img {
    transform: rotate(180deg);
}

.content-4 {
    .content4-title .right{
        float: right;
        font-weight: 600;
        font-weight: 18px;
    }
     .content4-title .left{
        float: left;
        font-weight: 500;
        font-weight: 14px;
    }
    table{
        padding: 30px;
    }
     tr{
        padding: 40px 0;
    }
    td{
        padding: 15px 0;
        border-bottom: 1px solid rgba(216, 216, 216, 0.588);
        padding-left: 35px;
    }
    td:nth-child(1){
    font-weight: 600;
    font-size: 14px;
   }
   td:nth-child(2){
    font-weight: 500;
    font-size: 12px;
    color: oklch(0.446 0.03 256.802);
   }
   td:nth-child(3){
    font-weight: 500;
    font-size: 12px;
    color: oklch(0.446 0.03 256.802);
   }
   td:nth-child(4){
    font-weight: 500;
    font-size: 12px;
    color: oklch(0.446 0.03 256.802);
    
   }
}

.content-5 {


    h3 {
        font-weight: 600;
        font-size: 18px;

    }

    p {
        font-weight: 500;
        font-size: 14px;
        color:
            oklch(0.488 0.243 264.376);
        text-align: center;
    }

    .activities {
        border-bottom: 1px solid rgb(199, 195, 195);
        margin-bottom: 15px;

    }

    .activity-1 {
        height: 100px;
        background-color: #EFF6FF;
        border-radius: 20px;
        box-shadow: -8px 0 1px #2B7FFF;
        margin-bottom: 10px;
        display: flex;
        justify-content: end;
        align-items: center;
        position: relative;

        img {
            width: 25px;
            margin-right: 5px;
            margin-top: 5px;
        }

        .activity1-img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: #DBEAFE;
            margin-right: 10px;
            margin-top: 5px;
             margin-bottom: 35px;
        }

        h5 {
            font-weight: 700;
            font-size: 14px;
            margin-bottom: 3px;
        }

        h6 {
            font-weight: 600;
            font-size: 12px;
            color: oklch(0.446 0.03 256.802);
        }

        .activity1-body p {
            font-weight: 600;
            font-size: 12px;
            color: oklch(0.551 0.027 264.364);
            margin-top: 10px;
            text-align: right;
            
        }
        .activity1-body{
            margin-right: 20px;
        }
        .activity1-span{
            color: #2B7FFF;
            position: absolute;
            top: 8px;
            left: 8px;
        }
    }

    .activity-2 {
        height: 100px;
        background-color: #F0FDF4;
        border-radius: 20px;
        box-shadow: -8px 0 1px #00C950;
        margin-bottom: 10px;
         display: flex;
        justify-content: end;
        align-items: center;
        position: relative;

        img {
            width: 25px;
            margin-right: 7px;
            margin-top: 5px;
        }

        .activity2-img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: #DBEAFE;
            margin-right: 10px;
            margin-top: 5px;
             margin-bottom: 35px;
        }

        h5 {
            font-weight: 700;
            font-size: 14px;
            margin-bottom: 3px;
        }

        h6 {
            font-weight: 600;
            font-size: 12px;
            color: oklch(0.446 0.03 256.802);
        }

        .activity2-body p {
            font-weight: 600;
            font-size: 12px;
            color: oklch(0.551 0.027 264.364);
            margin-top: 10px;
            text-align: right;
            
        }
        .activity2-body{
            margin-right: 20px;
        }
        .activity2-span{
            color: green;
            position: absolute;
            top: 8px;
            left: 8px;
        }
    }
}

.content-6 {
   
    .content6-title .right{
        float: right;
        font-weight: 600;
        font-weight: 18px;
    }
     .content6-title .left{
        float: left;
        font-weight: 500;
        font-weight: 14px;
    }
    .content6-main-title{
        text-align: center;
        margin-bottom: 10px;
    }
    .content6-main-title p{
       font-weight: 600;
        font-weight: 14px;
        color: oklch(0.551 0.027 264.364);
    }
    .content6-main-title h1{
      font-weight: 700;
        font-weight: 30px;
    }
    .content6-main-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        /* width: 100%; */
        /* flex-wrap: wrap; */
        
    }
    .elec{
        width: 30px;
        height: 30px;
        border-radius: 5px;
        background-color: #FEF9C2;
    }
    .elec img{
        width: 20px;
       margin-top: 5px;
       margin-right: 5px;
        
    }
    .electricity{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background-color: #ebebebad;
        padding: 18px;
        border-radius: 20px;
        margin: 7px;
        width: 300px;
        height: 140px;
        
    }
    .electricity p{
        color: oklch(0.551 0.027 264.364);
        font-weight: 600;
        font-size: 12px;
        margin-top:5px ;
    }
    .electricity h5{
        font-weight: 600;
        font-size: 16px;
    }
    .electricity h6{
        color:oklch(0.705 0.213 47.604);
        font-weight: 600;
        font-size: 12px;
    }
    .int{
        width: 30px;
        height: 30px;
        border-radius: 5px;
        background-color: #DBEAFE;
    }
    .int img{
        width: 20px;
       margin-top: 5px;
       margin-right: 5px;
        
    }
    .net {
        width: 30px;
        height: 30px;
        border-radius: 5px;
        background-color: #FFE2E2;
    }
    .net img{
        width: 20px;
       margin-top: 5px;
       margin-right: 5px;
        
    }
    .mob {
        width: 30px;
        height: 30px;
        border-radius: 5px;
        background-color: #DBFCE7;
    }
    .mob img{
        width: 20px;
       margin-top: 5px;
       margin-right: 5px;
        
    }
    .mobile h6{
        color:green;
        font-weight: 600;
        font-size: 12px;
    }
    .netflix h6{
        color:oklch(0.551 0.027 264.364);
        font-weight: 600;
        font-size: 12px;
    }
    
}

.content-7 {
     /* height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; */

     .content7-title .right{
        float: right;
        font-weight: 600;
        font-weight: 18px;
        margin-bottom: 20px;
    }
     .content7-title .left{
        float: left;
        font-weight: 500;
        font-weight: 14px;
        margin-bottom: 20px;
    }
    .card1 {
        transition: 0.8s cubic-bezier(0.4, 0.2, 0.2, 1);
         background-color: rgb(42, 97, 165);
    }
    .card1:hover{
        transform: rotateY(170deg);
    }

     .card1 {
        transition: 0.1s;
         
    }
    .card1:hover{
        background-color: #0D1522;
    }

     .card1 {
        transition: 0.1s cubic-bezier(0.4, 0.2, 0.2, 1);
        position: relative;
        
        width: 100%;
         height: 200px; 
         margin-bottom: 30px;
           border-radius: 10px;

        
    }
    .card1:hover .card1-p{
       visibility: hidden;
    }
     .card1:hover .card1-p2{
       visibility: visible;
         transform: rotateY(170deg);
         /* background-color: #0D1522;
         height: 200px;
         width: 340px;
         border-radius: 10px; */
    }
    .card1-p2{
        visibility: hidden;
    }
     .card1-p{
        position: absolute;
        margin-bottom: 20px;
        right: 0;
        left: 0;
        bottom: 0;
     }
    .card1-p h3{
        font-weight:600 ;
        font-size:22px ;
        color: white;
        margin-right: 40px;
    }
    .card1-p .left p{
        font-weight:400 ;
        font-size:14px ;
        color: rgb(223, 223, 223);
        margin-left: 30px;
    }
     .card1-p .right p{
        font-weight:500 ;
        font-size:14px ;
        color: rgb(255, 255, 255);
        margin-right: 30px;
    }
    .card1-p2{
        padding: 10px;
    }
    .bar{
        background-image: linear-gradient(90deg,black 80% , rgb(188, 187, 187));
         width: 100%; 
         height:30px;
    }
    .card1-p2 p{
        font-weight:600 ;
        font-size:10px ;
        color: rgba(255, 255, 255, 0.48);
        margin-top: 5px;
        /* margin-right: 40px; */
    }
     .bar2{
        /* background-image: linear-gradient(90deg,rgb(255, 255, 255) 80% , rgb(188, 187, 187)); */
        background-color: white;
         width: 100%; 
         height:30px;
         padding: 10px;
         margin-top: 5px;
         display: flex;
         align-items: center;
         margin-bottom: 5px;
         
         
    }
    .bar3{
        background-image: linear-gradient(90deg,rgb(219, 217, 217) 70%,rgb(254, 254, 254)  );
         width: 95%; 
         height:15px;
         text-align: left;
         
         font-weight:600 ;
        font-size:14px ;
    }
    .bar2 p{
        
         color: black;
         margin-left: 15px;
          font-weight:500 ;
        font-size:14px ;
    }
    .bar4{
       background-color: white;
         width: 20%; 
         height:30px;
         border-radius: 5px;
         text-align: center;
          font-weight:500 ;
         
    }
    h4{
        text-align: left;
        color: white;
        font-weight:400 ;
        font-size:12px ;
        margin-top: 15px;
        padding-left: 32px;
    }
    .card2{
        background-color: #C70036;
    }
    .card11{
        background-color: #372aac;
    }







    /* .container2{
        width: 340px;
    }

CARD
.card-container {
  perspective: 1200px;
  margin-bottom: 25px;
}

.card {
  width: 100%;
  height: 200px;
  position: relative;
  transform-style: preserve-3d;
  transition: 0.8s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.card.flip {
  transform: rotateY(180deg);
}

.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  padding: 20px;
  box-sizing: border-box;
  color: white;
  backdrop-filter: blur(12px);
  background: rgba(255,255,255,0.1);
  box-shadow: 0 10px 40px rgba(0,0,0,0.3);
  backface-visibility: hidden;
}

FRONT
.top {
  display: flex;
  justify-content: flex-end;
}

.card-type {
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 6px;
}

Card type colors
.visa { background: #1a1f71; }
.mastercard { background: #eb001b; }
.amex { background: #2e77bb; }

.number {
  margin-top: 30px;
  font-size: 22px;
  letter-spacing: 2px;
}

.bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  font-size: 12px;
}

BACK
.back {
  transform: rotateY(180deg);
}

.stripe {
  height: 45px;
  background: black;
  margin-top: 10px;
}

.cvv-area {
  margin-top: 20px;
  background: white;
  color: black;
  padding: 10px;
  text-align: right;
  border-radius: 6px;
}

FORM
.form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;
  border: none;
  border-radius: 8px;
  outline: none;
} */
}

.content-8 {
    
   .content8-title .right{
        float: right;
        font-weight: 600;
        font-weight: 18px;
        margin-bottom: 20px;
    }
     .content8-title .left{
        float: left;
        font-weight: 500;
        font-weight: 14px;
        margin-bottom: 20px;
    }
    .income{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 30px;
        font-weight: 600;
    font-size: 12px;
    }
    .weeks{
        margin-top: 30px;
        display: flex;
        justify-content: space-around;
        align-items: end;
        font-weight: 600;
    font-size: 12px;
    }
    .week1{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-weight: 600;
    font-size: 12px;
    }
}

.content-9 {
    .content9-title .right{
        float: right;
        font-weight: 600;
        font-weight: 18px;
        margin-bottom: 20px;
    }
     .content9-title .left{
        float: left;
        font-weight: 500;
        font-weight: 14px;
        margin-bottom: 20px;
    }
     .activity-2 {
        height: 80px;
         width: 100%;
        border-radius: 10px;
        background-color: #F5F6F8;
        margin-bottom: 10px;
        position: relative;
        padding: 15px;
         
        .activity-22{
         display: flex;
        justify-content: end;
        align-items: center;
        
        /* margin-top: 10px; */
        
        img {
            width: 25px;
            margin-right: 7px;
            margin-top: 5px;
        }

        .activity22-img {
            width: 40px;
            height: 40px;
            border-radius: 10px;
            background-color: #FFEDD4;
            margin-right: 10px;
            margin-top: 10px;
             /* margin-bottom: 35px; */
        }

        h5 {
            font-weight: 500;
            font-size: 16px;
            margin-bottom: 3px;
        }

        h6 {
            font-weight: 600;
            font-size: 12px;
            color: oklch(0.446 0.03 256.802);
        }

        .activity22-body p {
            font-weight: 600;
            font-size: 12px;
            color: oklch(0.551 0.027 264.364);
            text-align: right;
            
        }
        .activity22-body{
            margin-right: 10px;
        }
        }
        .activity2-span{
           
            position: absolute;
            top: 40%;
            left: 20px;
            font-weight: 600;
            font-size: 16px;
        }
       
    }
}

.content-10 {
    
     .content10-title .right{
        float: right;
        font-weight: 600;
        font-weight: 18px;
        margin-bottom: 20px;
        margin-left: 10px;
        
    }
     .content10-title .left{
        float: left;
        font-weight: 500;
        font-weight: 14px;
        margin-bottom: 20px;
    }
     .activity-1 {
        height: 120px;
        background-color: #EFF6FF;
        border-radius: 10px;
        
        margin-bottom: 10px;
        display: flex;
        justify-content: end;
        align-items: center;
        position: relative;

      
        h5 {
            font-weight: 500;
            font-size: 14px;
            margin-bottom: 3px;
            color: #2B51F2;
        }

        h6 {
            font-weight: 700;
            font-size: 24px;
            color: oklch(0.379 0.146 265.522);
        }

        .activity1-body p {
            font-weight: 600;
            font-size: 12px;
            color: oklch(0.551 0.027 264.364);
            margin-top: 10px;
            text-align: right;
            
        }
        .activity1-body{
            margin-right: 20px;
        }
        .activity1-span{
            color: #8c8888;
            position: absolute;
            top: 10px;
            left: 15px;
             font-weight: 600;
            font-size: 14px;
        }
        .activity1-span p{
            color: green;
           font-weight: 600;
            font-size: 18px;
        }
         .activity1-span2{
            color: #afb8c7;
            position: absolute;
            top: 75px;
            left: 20px;
            font-weight: 600;
            font-size: 12px;
        }
        .activity1-div{
            width:590px;
             height: 10px; 
             background-color: rgb(201, 201, 201);
              border-radius: 10px; 
              direction: rtl;
               margin-top: 5px;
        }
    }
    .activity-2 {
        height: 100px;
       
        border-radius: 10px;
        background-color: #F5F6F8;
        margin-bottom: 10px;
        position: relative;
        padding: 15px;
         
        .activity-22{
         display: flex;
        justify-content: end;
        align-items: center;
        width: 590px;
        /* margin-top: 10px; */
        
        img {
            width: 25px;
            margin-right: 7px;
            margin-top: 5px;
        }

        .activity22-img {
            width: 40px;
            height: 40px;
            border-radius: 10px;
            background-color: #FFEDD4;
            margin-right: 10px;
            margin-top: 10px;
             /* margin-bottom: 35px; */
        }

        h5 {
            font-weight: 500;
            font-size: 16px;
            margin-bottom: 3px;
        }

        h6 {
            font-weight: 600;
            font-size: 12px;
            color: oklch(0.446 0.03 256.802);
        }

        .activity22-body p {
            font-weight: 600;
            font-size: 12px;
            color: oklch(0.551 0.027 264.364);
            text-align: right;
            
        }
        .activity22-body{
            margin-right: 10px;
        }
        }
        .activity2-span{
           
            position: absolute;
            top: 15px;
            left: 20px;
            font-weight: 600;
            font-size: 16px;
        }
        .activity2-span-p{
            width: 70px;
            background-color: #DCFCE7;
            border-radius: 20px;
            font-weight: 500;
            font-size: 12px;
            color: green;
        }
        .activity2-div{
        margin-top: 40px;
           width: 590px;
           margin-bottom: 10px;
        }
        
    }
}



/* @media screen and (min-width:768px) and (max-width:1280px) {
    nav {
        visibility: visible;
        background-color: #1f1fa9;
        position: fixed;
        right: 0;
        top: 0;
        bottom: 0;
        width: 6%;
        z-index: 100;

    }
    .nav-items {
    text-align: right;
    margin-bottom: 24px;
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    color: oklch(0.446 0.03 256.802);
    font-weight: 600;
    font-size: 16px;
}
.nav-items2 {
    font-weight: 500;
    font-size: 14px;
    color: rgb(17, 24, 39);
    margin-bottom: 40px;
}

.nav-p {
    text-align: right;
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 14px;
}
    .nav-items p{
        visibility: hidden;
    }
    .nav-content{
        visibility: hidden;
    }
    .nav-p{
        visibility: hidden;
    }
    .nav-items-img {
    width: 70px;
    height: 50px;
    border-radius: 5px;
    margin-left: 10px;
    position: relative;
}

.nav-items-img img {
    width: 83%;
    margin: 10px 11px;
}

    .container {
        margin-right: 270px;
        width: 85%;
        height: 150vh;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-auto-columns: 1fr;
        gap: 15px 15px;
        grid-auto-flow: row;
        grid-template-areas:
            "content-1 content-2 content-3"
            "content-8 . content-5"
            "content-4 . content-5"
            "content-4 content-4 content-4"
            "content-6 content-6 content-6"
            "content-6 . content-9"
            "content-7 . content-8"
             "content-7 . content-10"
            "content-9 . content-10";
    }

    .content-1 {
        grid-area: content-1;
    }

    .content-2 {
        grid-area: content-2;
    }

    .content-3 {
        grid-area: content-3;
    }

    .content-4 {
        grid-area: content-4;
        justify-self: stretch;
    }

    .content-5 {
        grid-area: content-5;
    }

    .content-6 {
        grid-area: content-6;
    }

    .content-7 {
        grid-area: content-7;
    }

    .content-8 {
        grid-area: content-8;
    }

    .content-9 {
        grid-area: content-9;
    }

    .content-10 {
        grid-area: content-10;
    }

    header {
        width: 92%;
        margin-bottom: 20px;
    }
} */





@media screen and (min-width:1280px) {
    nav {
        visibility: visible;
        background-color: #FCFCFE;
        position: fixed;
        right: 0;
        top: 0;
        bottom: 0;
        width: 16%;
        margin-left: 320px;
        z-index: 100;
    }

    .body-container {
        width: 95%;
        /* margin-right: 140px; */
    }

    .container {
        width: 84%;
        display: grid;
        gap: 15px 15px;
        /* height: 150vh; */
        grid-template-areas:
            "content-1 content-2 content-3 "
            "content-4 content-4 content-5 "
            "content-4 content-4 content-6 "
            "content-7 content-8 content-10 "
            "content-7 content-9 content-10 ";

    .card1{
        width: 360px;
         height: 200px; 
         margin-bottom: 30px;
           border-radius: 10px;
    }
    .content-9 .activity-2{
        width: 360px;
        margin-left: 5px;
    }
    .content-10 .activity-1{
        width: 360px;
        margin-left: 10px;
        
    }
    .content-10 {
        .activity1-div{
            width:340px !important;
             height: 10px; 
             background-color: rgb(201, 201, 201);
              border-radius: 10px; 
              direction: rtl;
               margin-top: 5px;
        }
        .activity-2{
             width: 370px;
             
        }
        .activity2-div{
            width: 340px;
        }
        .activity-22{
            width: 360px;
        }
    }
     
    
    .content-1 {
        grid-area: content-1;
    }

    .content-2 {
        grid-area: content-2;
    }

    .content-3 {
        grid-area: content-3;
    }

    .content-4 {
        grid-area: content-4;
        /* width: 56%; */
    }

    .content-5 {
        grid-area: content-5;
        /* width: 28%; */
    }

    .content-6 {
        grid-area: content-6;
        /* width: 28%; */
    }

    .content-7 {
        grid-area: content-7;
    }

    .content-8 {
        grid-area: content-8;
    }

    .content-9 {
        grid-area: content-9;
    }

    .content-10 {
        grid-area: content-10;
        
        
    }

   
   .content-6 .electricity{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background-color: #ebebebad;
        padding: 18px;
        border-radius: 20px;
        margin: 7px;
        width: 180px;
        height: 140px;
        
    }
    }
    header {
        margin-bottom: 20px;
        margin-top: 20px;
        width: 85%;

    }
    
}